{% extends 'base.html' %}

{%block navbar %}
    <a class="navbar-text btn btn-primary p-2" style="color: white;" href="{{ url_for('web.add') }}">Add community</a>
{% endblock %}

{% block body %}
    <h1>{% block title %}Communities{% endblock %}</h1>
    <div class="list-group">
        {% for community in communities %}
            {% if community.communityId %}
                <a href="{{url_for('web.posts', communityObjId=community.id)}}" class="list-group-item list-group-item-action">
                 {{ render_community(community) }}
                </a>
            {% else %}
                <div class="list-group-item list-group-item-action">
                    {{ render_community(community) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% macro render_community(community) -%}
<div class="d-flex w-100">
    {%if community.icon %}
        <img class="m-2 img-thumbnail img-fluid w-25 h-100" src="{{community.icon}}" />
    {% endif %}
    <div class="d-flex flex-column flex-grow-1 m-2">
        {% if community.banner %}
            <div class="flex-grow-1">
                <img class="w-100 h-100" src="{{ community.banner }}"/>
            </div>
        {% endif %}
        <div class="d-flex my-2 justify-content-between">
            <h5>{{community.title or community.name}}</h5>
            <small>{{community.instanceUrl}}</small>
            <form action="{{ url_for('web.delete_community', id=community.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="m-2">
            {{ community.description or '' }}
        </div>
    </div>
</div>
{%- endmacro %}